.dropdown {
    position: relative;
  }
  
  .dropbtn {
    background-color: #98acee;
    color: #1b2a4f;
    padding: 2px;
    border: none;
    cursor: pointer;
    width: 600px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropbtn p {
    margin: 10px; /* Elimina el margen por defecto */
    font-size: 16px;
  }
  
  .dropdown .dropbtn svg {
    margin-left: 10px; /* Ajusta el espacio entre el texto y el ícono si es necesario */
  }
  
@media (max-width: 480px) {
  .dropbtn {
      width: 300px;
  }
}