.container-preg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f3f0ed;
  min-height: 88vh; /* Asegura que ocupe toda la altura de la pantalla */
  box-sizing: border-box;
  padding-top: 60px; /* Baja el contenido interior */
}

.preguntas-img {
    flex: 1; /* Ajusta el tamaño proporcional de esta sección */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .preguntas-img img {
    margin-top: 90px;
    max-width: 80%;
    height: auto; /* Mantener proporción de la imagen */
  }

  .preguntas .btn-preguntas {
    display: flex;
    flex-direction: column; /* Asegura que las tarjetas estén apiladas verticalmente */
    gap: 40px; /* Espaciado entre las tarjetas */
    margin-left: 40px;
  }

  .preguntas h2 {
    font-size: 36px; /* Aumenta el tamaño de la fuente */
    text-align: center; /* Centra el texto */
    margin-bottom: 60px; /* Agrega espacio debajo del título */
    margin-top: 20px;
    color: #1b2a4f;
  }

  @media (max-width: 768px) {
    .container-preg {
      flex-direction: column;
      padding-top: 130px; /* Apila el contenido en dispositivos más pequeños */
    }
    .preguntas-img {
      max-width: 60%; /* Oculta la imagen en pantallas pequeñas */
    }
    .preguntas .btn-preguntas {
      margin-left: 0; /* Elimina el margen izquierdo */
    }
  }

  @media (max-width: 480px) {
    .cards-ser {
      display: flex;
      flex-wrap: wrap; /* Permite que los cards se envuelvan a la siguiente línea */
      justify-content: center; /* Centra los cards horizontalmente */
    }
    .preguntas-img {
      display: none; /* Oculta la imagen en pantallas pequeñas */
    }
    .preguntas h2 {
      font-size: 30px;
    }
  }