.container-preg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f3f0ed;
  min-height: 88vh; /* Asegura que ocupe toda la altura de la pantalla */
  box-sizing: border-box;
  padding-top: 30px; /* Baja el contenido interior */
}

.preguntas-img {
    flex: 1; /* Ajusta el tamaño proporcional de esta sección */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .preguntas-img img {
    margin-top: 90px;
    max-width: 80%;
    height: auto; /* Mantener proporción de la imagen */
  }

  .preguntas .btn-preguntas {
    display: flex;
    flex-direction: column; /* Asegura que las tarjetas estén apiladas verticalmente */
    gap: 30px; /* Espaciado entre las tarjetas */
    margin-left: 40px;
  }

  .preguntas h2 {
    font-size: 36px; /* Aumenta el tamaño de la fuente */
    text-align: center; /* Centra el texto */
    margin-bottom: 60px; /* Agrega espacio debajo del título */
    margin-top: 20px;
    color: #1b2a4f;
  }
.modal-title{
  color: #98acee;
}

.modal-text{
  color: #1B2A4F;
}

.modal-button {
  display: block; 
  margin: 10px auto; 
  background-color: #98acee; 
  color: white; 
  border: none;
  border-radius: 5px; 
  padding: 10px 20px;
  font-size: 16px; 
  cursor: pointer; 
}
.modal-image {
  display: block;
  margin: 20px auto;
  max-width: 100%; /* Se adapta al tamaño del contenedor */
  height: auto;
  border-radius: 10px;
}
  @media (max-width: 768px) {
    .container-preg {
      flex-direction: column;
      padding-top: 100px; /* Apila el contenido en dispositivos más pequeños */
    }
    .preguntas-img {
      max-width: 55%; /* Oculta la imagen en pantallas pequeñas */
    }
    .preguntas .btn-preguntas {
      margin-left: 0; /* Elimina el margen izquierdo */
    }
  }

  @media (max-width: 480px) {
    .cards-ser {
      display: flex;
      flex-wrap: wrap; /* Permite que los cards se envuelvan a la siguiente línea */
      justify-content: center; /* Centra los cards horizontalmente */
    }
    .preguntas-img {
      display: none; /* Oculta la imagen en pantallas pequeñas */
    }
    .preguntas h2 {
      font-size: 30px;
    }
  }